# Output/
# Input/
# tmp/

# predictionCONV_LSTM.csv
# result_file.csv
# data/

# *.model.json
# *.model.h5
# *.pb

# classify/
# val/

.vscode/
# classify_data/

__pycache__/
rm.model.h5
rm.model.json